/* style.css */
#logout {
    /* set initial display to none */
    display: none;
}

#showPassword {
    text-decoration: underline;
}

#showPassword:hover {
    cursor: pointer;
}

.photo {
    height: 200px;
}

.icon{
    text-decoration: none;
    color: black;
    border-radius: 10px;
}
